<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h1>Add a new course</h1>
    <form action="/add" method="post">
      {% csrf_token %}
      Name: <input type='text' name='name'>
      Description:<textarea name="description" cols="20" rows="4"></textarea>
      <input type="submit" value="Add">
    </form>
    <h2>Courses</h2>
    <table>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      {% for course in courses %}
        <tr>
          <td>{{course.name}}</td>
          <td>
            {% for description in descriptions %}
              {% if description.course.id == course.id %}
                {{description.description}}
              {% endif %}
            {% endfor %}
            </td>
            <td>{{course.date_added}}</td>
            <td>
              <form action="/courses/destroy/{{course.id}}" method="post">
                {% csrf_token %}
                <input type="submit" value="Remove">
              </form>
            </td>
          </tr>
        {% endfor %}
    </table>
  </body>
</html>
